<div>
  <p style="font-size: 2em;">
    <a href="<%= @site_url %>"><%= @site_name %></a> is <strong><%= @status_text %></strong>.
  </p>
  <%= if @details_text do %>
    <p>
      <strong><%= @details_text %></strong>.
    </p>
  <% end %>
  <p>
    <small>
      Sent by <a href="<%= @root_url %>">upTom</a>, your website monitoring tool.
    </small>
  </p>
</div>
