<%= centered_card "Edit Account" do %>
  <%= render "form.html", changeset: @changeset,
                          label: "Update", required: [],
                          action: registration_path(@conn, :update) %>
<% end %>
