<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uptom</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>
      html { font-family: PT Sans, sans-serif; }
      .brand-logo { font-weight: 900; }
      #welcome-text { font-weight: 700; }

      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      #main {
        flex: 1 0 auto;
      }

    </style>
  </head>

  <body>
    <nav class="" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">upTom<span class="green-text text-accent-4">.</span></a>
        <ul class="right hide-on-med-and-down">
          <%= if @current_user do %>
            <li><%= link "Log out", to: session_path(@conn, :delete), method: :delete %></li>
          <% else %>
            <li><%= link "Login", to: session_path(@conn, :new) %></li>
            <li><%= link "Register", to: registration_path(@conn, :new) %></li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>



    <div id="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render @view_module, @view_template, assigns %>

    </div>





    <footer class="page-footer grey darken-3">
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="grey-text text-lighten-3" href="http://levente.bagi.name">Levente Bagi</a>
        </div>
      </div>
    </footer>




    <!--  Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>

  </body>

</html>
