<%= back_button site_path(@conn, :index) %>

<%= centered_card "Edit site" do %>
  <%= render "form.html", changeset: @changeset,
                          action: site_path(@conn, :update, @site) %>
<% end %>
