<%= back_button site_path(@conn, :index) %>

<%= centered_card "New site" do %>
  <%= render "form.html", changeset: @changeset,
                          action: site_path(@conn, :create) %>
<% end %>
