/* This file is for your main application css. */

@import "includes/pt_sans"
@import "../vendor/materialize/sass/materialize"

html
  font-family: PT Sans
.page-footer
  padding-top: 0 !important

#index-banner
  margin: 4em 0

.form-links
  margin-top: 2em

.alert-container
  color: white
  margin: auto
  position: absolute
  font-size: 1.2em
  top: 0.7em
  left: 0
  right: 0
  text-align: center
  z-index: 2

  .alert
    display: inline-block
    margin: auto
    padding: 0.5em 1em
    border-radius: 0.5em

.alert-danger
  background: color("red", "darken-1")

.alert-info
  background: color("green", "darken-3")

.icon-block
  padding: 0 15px
.icon-block .material-icons
	font-size: inherit


.sites-container
  display: flex
  flex-wrap: wrap
  // margin: -1em

  .site-container
    margin: 0em 1em 0 0
    // border: solid 1px red
    .card
      width: 25em
      height: 10em
      cursor: pointer
      &:hover
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    .card-title
      overflow: hidden

.grow
  transition: all .2s ease-in-out
.grow:hover
  transform: scale(1.02)

ul.button-bar
  display: block
  li
    display: inline-block

.centered-form
  max-width: 40em
  margin: 0 auto

.centered-content
  display: flex

.site-up
  background: #2E7D33
.site-down
  background: #C62828
.site-nostatus
  background: #757575

.field-error
  color: #F44336
  position: relative
  top: -1em
